{% extends 'base.html' %}


{% block obsah %}

<h1>Zkracovač URL</h1>
{% if new %}
<p><a href="{{new}}">{{new}}</a></p>
{% endif %}

<h2>formulář</h2>
<form method="POST">
    URL ADRESA:<br>
      <input type="text" name="url" placeholder="URL ADRESA" style="width:77%q
      ">
      <p><input type="submit" value="Udělej mi adresu!"></p>
    </p>

<ul>
<h2>Seznam uložených zkratek</h2>
{% for zkratka, adresa in zkratky %}
  <li><a href="{{url_for('dezkracovac', zkratka=zkratka)}}">{{zkratka}}</a>
  <a href="{{adresa}}"> {{adresa}}</a></li>>
{%endfor%}
</ul>
{% endblock obsah %}
